.certificate-container {
  text-align: center;
  padding: 40px;
  background: white;
}

.certificate-title {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.certificate-name {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
}

.certificate-text {
  font-size: 16px;
  margin-top: 10px;
  color: #333;
}